/* .widget-background {
    background-color: #2D353C !important;
    color: white !important;
}

table th, table td {
    color: white !important;
} */
.dropdown-item-custom {
    transition: ease 0.5s;
}

.dropdown-item-custom a{
    color: #212529 !important;
    text-decoration: none;
}

.dropdown-item-custom:hover {
    background-color: #272b2e;
    color: white;
}

.selected {
    color: white;
}
.unselected {
    color: black;
}

.dropdown-arrow {
    transition:.5s;
}

.collapse-icon-rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}