/* .widget-background {
    background-color: #2D353C !important;
    color: white !important;
}

table th, table td {
    color: white !important;
} */
.dropdown-item-custom {
    transition: ease 0.5s;
}


.dropdown-item-custom:hover {
    background-color: blue;
    color: white;
}

.selected {
    color: white;
}
.unselected {
    color: black;
}