.border-half{
    position: relative;
    /* background-color: blue !; */
}

.border-half::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 50%;
    border-bottom: 1px solid skyblue;
}

.image-about-me{
    max-width: 100%;
}

.kategori-card{
    cursor: pointer;
    transition: transform .2s;
    text-decoration: none;
}

.kategori-card:hover{
    transform: scale(1.2);
    z-index: 99;
}

.borderless {
    border: none;
}

.circle {
    width: 10vh;
    height: 10vh;
    background-color: skyblue;
    border-radius: 50%;
    font-size: large;
}