<%- include('include/header') %>
<link rel="stylesheet" href="/css/landing.css">
</head>
<body>
    <%- include('include/navigation') %>
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container container-fluid py-5">
          <h1 class="display-6 fw-bold">Bangun Masa Depan Anda dengan Kami</h1>
          <p class="col-md-8 fs-4">Kami siap membantu Anda dalam membangun masa depan yang lebih baik dengan solusi bangunan terbaik dari kami.</p>
          <button class="btn btn-outline-primary btn-md" type="button">Hubungi Kami</button>
        </div>
      </div>
      <div class="produk w-100 mt-4">
        <div class="container">
          <div>
            <p class="fs-4 border-half">PRODUK YANG KAMI JUAL</p>
          </div>
          <div class="list-produk d-flex justify-content-between my-4">
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-outline-primary">Selengkapnya</a>
          </div>
        </div>
      </div>

      <div class="tentang-kami w-100 mt-4">
        <div class="container">
          <div class="d-flex justify-content-end">
            <p class="fs-4 border-half bg-warning">TENTANG KAMI</p>
          </div>
          <div class="content d-flex">
            <div class="">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere commodi tempore voluptate excepturi voluptatibus expedita obcaecati porro aspernatur perferendis cumque.
            </div>

            <div class="col-5">
              <!-- <img src="/asset/image-landing.png" class=""> -->
            </div>
          </div>
        </div>
      </div>
          <%- include('include/footer') %>
