<%- include('include/header-doc') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" href="/plugins/jquery-smartwizard-master/dist/css/smart_wizard_all.min.css">
<link rel="stylesheet" href="/css/landing.css">
</head>
<body>
    <%- include('include/navigation') %>
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container container-fluid py-5">
        <h1 class="display-6 fw-bold">Bangun Masa Depan Anda dengan Kami</h1>
        <p class="col-md-8 fs-4">Kami siap membantu Anda dalam membangun masa depan yang lebih baik dengan solusi bangunan terbaik dari kami.</p>
        <button class="btn btn-outline-success btn-md" type="button"><i class="bi bi-whatsapp"></i> Hubungi Kami</button>
      </div>
    </div>
    <div class="produk w-100 mt-4">
      <div class="container">
        <div class="d-flex border-half">
          <p class="fs-4">PRODUK YANG KAMI JUAL</p>
        </div>
        <div class="list-produk d-flex justify-content-between my-4">
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <a href="#" class="btn btn-outline-primary">Selengkapnya</a>
        </div>
      </div>
    </div>
      <div class="kategori w-100 mt-4">
        <div class="container">
          <div class="d-flex justify-content-end border-half">
            <p class="fs-4">KATEGORI BARANG</p>
          </div>
          <div class="list-kategori d-flex justify-content-start my-4" style="gap: 20px;">
            <div class="card d-flex flex-column justify-content-between text-center kategori-card" style="width: 10rem;">
              <img src="/asset/kategori-pipa.jpg" class="card-img-top" alt="..." height="90%">
              <p class="card-title mt-2">Pipa PVC</p>
            </div>
            <div class="card d-flex flex-column justify-content-between text-center kategori-card" style="width: 10rem;">
              <div class="d-flex align-items-center" style="height: 90%">
                <img src="/asset/kategori-kelistrikan.jpg" class="card-img-top" alt="...">
              </div>
              <p class="card-title mt-2">Kelistrikan</p>
            </div>
            <div class="card d-flex flex-column justify-content-between text-center kategori-card" style="width: 10rem;">
              <div class="d-flex align-items-center" style="height: 90%">
                <img src="/asset/kategori-bahanbangunan.jpg" class="card-img-top" alt="...">
              </div>
              <p class="card-title mt-2">Bahan Bangunan</p>
            </div>
            <div class="card d-flex flex-column justify-content-between text-center kategori-card" style="width: 10rem;">
              <div class="d-flex align-items-center" style="height: 90%">
                <img src="/asset/kategori-alatbangunan.png" class="card-img-top" alt="...">
              </div>
              <p class="card-title mt-2">Alat Bangunan</p>
            </div>
          </div>
        </div>
      </div>

      
      <div class="tentang-kami w-100 mt-4">
        <div class="container">
          <div class="d-flex border-half">
            <p class="fs-4 ">TENTANG KAMI</p>
          </div>
          <div class="content d-flex my-4 align-items-center justify-content-between">
            <div class="col-5">
              <img src="/asset/image-landing.png" class="image-about-me">
            </div>
            <div class="text-center col-6">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatem dolor minima numquam consequuntur, quia nisi nemo voluptatibus tempore eligendi architecto deserunt praesentium temporibus. Cum perspiciatis similique cumque magnam, praesentium veritatis doloribus consequatur fugiat nemo quis alias voluptas tempore inventore nisi, officiis repellendus laboriosam necessitatibus saepe porro maiores qui eligendi?
            </div>
          </div>
        </div>
      </div>
      <div class="tata-cara-pemesanan w-100 mt-4">
        <div class="container">
          <div class="d-flex justify-content-end border-half mb-4">
            <p class="fs-4 ">TATA CARA PEMESANAN</p>
          </div>
          <div class="step d-flex justify-content-between mt-4">
            <div class="card borderless d-flex align-items-center">
              <div class="circle d-flex align-items-center justify-content-center fs-4"><i class="bi bi-search"></i></div>
              <div class="card-body">
                <h5 class="card-title">Cari Barang</h5>
              </div>
            </div>
            <div class="card borderless d-flex align-items-center">
              <div class="circle d-flex align-items-center justify-content-center fs-4"><i class="bi bi-bag"></i></div>
              <div class="card-body">
                <h5 class="card-title">Beli Barang</h5>
              </div>
            </div>
            <div class="card borderless d-flex align-items-center">
              <div class="circle d-flex align-items-center justify-content-center fs-4"><i class="bi bi-telephone-inbound"></i></div>
              <div class="card-body text-center">
                <h5 class="card-title">Anda akan<br>Kami Hubungi</h5>
              </div>
            </div>
            <div class="card borderless d-flex align-items-center">
              <div class="circle d-flex align-items-center justify-content-center fs-4"><i class="bi bi-credit-card"></i></div>
              <div class="card-body">
                <h5 class="card-title">Pembayaran</h5>
              </div>
            </div>
            <div class="card borderless d-flex align-items-center">
              <div class="circle d-flex align-items-center justify-content-center fs-4"><i class="bi bi-truck"></i></div>
              <div class="card-body text-center">
                <h5 class="card-title">Pengiriman<br>Barang</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tentang-kami w-100 mt-4">
        <div class="container">
          <div class="d-flex border-half">
            <p class="fs-4 ">LOKASI</p>
          </div>
          <div class="content d-flex my-4 align-items-center justify-content-between">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15858.60346941045!2d106.81176556977537!3d-6.4388641000000035!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ea26f781fc7d%3A0x4674a28effffb45!2sTB.%20Indo%20Maju!5e0!3m2!1sid!2sid!4v1683649823107!5m2!1sid!2sid" width="100%" height="460" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>


<script></script>

<%- include('include/footer') %>
<%- include('include/footer-doc') %>
