<div
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark min-vh-100"
  style="width: 280px"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        href="/dashboard"
        class="nav-link text-white <%= (route == '/dashboard') ? 'active' : '' %>"
      >
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="/dashboard"></use>
        </svg>
        Dashboard
      </a>
    </li>
    <li>
      <a
        href="/barang"
        class="nav-link text-white <%= (route == '/barang') ? 'active' : '' %>"
      >
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="/barang"></use>
        </svg>
        Barang
      </a>
    </li>
    <li>
      <a href="/kategori" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#people-circle"></use>
        </svg>
        Kategori
      </a>
    </li>
    <li>
      <a
        href="/transaksi"
        class="nav-link text-white <%= (route == '/transaksi') ? 'active' : '' %>"
      >
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#grid"></use>
        </svg>
        Transaksi
      </a>
    </li>
    <li>
      <a
        href="/karyawan"
        class="nav-link text-white <%= (route == '/karyawan') ? 'active' : '' %>"
      >
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#people-circle"></use>
        </svg>
        Karyawan
      </a>
    </li>
  </ul>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>mdo</strong>
    </a>
    <ul
      class="dropdown-menu dropdown-menu-dark text-small shadow"
      aria-labelledby="dropdownUser1"
    >
      <li>
        <a
          class="dropdown-item"
          href="#"
          id="option"
          onclick="changeChartType()"
          >New project...</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          href="#"
          id="option"
          onclick="changeChartType()"
          >Settings</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          href="#"
          id="option"
          onclick="changeChartType()"
          >Profile</a
        >
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li>
        <a
          class="dropdown-item"
          href="#"
          id="option"
          onclick="changeChartType()"
          >Sign out</a
        >
      </li>
    </ul>
  </div>
</div>
