<!-- Modal for edit data -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  style="color: black;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="">
          <div class="mb-3">
            <label for="namabarang" class="form-label">Nama Barang</label>
            <input type="text" class="form-control" id="namabarang" name="newnamabarang" aria-describedby="barangHelp">
            <div id="barangHelp" class="form-text">Jika ada ukuran, masukkan didalam field ini. Contoh :
              Peralon 3"</div>
          </div>
          <div class="mb-3">
            <label for="stok" class="form-label">Stok</label>
            <input type="number" class="form-control" id="stok" name="newstok">
          </div>
          <div class="mb-3">
            <label for="harga" class="form-label">Harga</label>
            <input type="number" class="form-control" id="harga" name="newharga">
          </div>
          <div class="mb-3">
            <label for="modal" class="form-label">Modal</label>
            <input type="number" class="form-control" id="modal" name="newmodal">
          </div>
          <input type="hidden" name="idupdatedbarang">
          <div class="modal-footer">
            <!-- Gunakan button ini jika dibutuhkan -->
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
            <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>